apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "hostname": "login.example.com",
      "resource": "https://default.logto.app/api",
      "application_id": "REPLACE_WITH_MANAGEMENT_APP_ID",
      "application_secret": "REPLACE_FROM_SECRET_MANAGER"
    }
